USE [Empleados]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 30/9/2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Legajo] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Profesion] [nvarchar](100) NULL,
	[Sueldo] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/9/2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](50) NOT NULL,
	[Rol] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([Id], [Legajo], [Nombre], [Apellido], [Profesion], [Sueldo]) VALUES (1, 1713, N'Gustavo', N'Olivera', N'Chofer', CAST(900000.00 AS Decimal(18, 2)))
INSERT [dbo].[Empleados] ([Id], [Legajo], [Nombre], [Apellido], [Profesion], [Sueldo]) VALUES (2, 1234, N'Gustavo', N'Olivera', N'asdasdasa', CAST(80000000.00 AS Decimal(18, 2)))
INSERT [dbo].[Empleados] ([Id], [Legajo], [Nombre], [Apellido], [Profesion], [Sueldo]) VALUES (3, 1713, N'Gustavo', N'Olivera', N'Choffer', CAST(9000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsuario], [Contraseña], [Rol]) VALUES (1, N'admin', N'1234', N'Administrador')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
